<div class="card text-center" style="width: 35rem">
  <div class="card-body">
    <h3 class="card-title">ASSUMINDO AS TAXAS</h3>
    <app-dropdown (planChanged)="planChanged($event)"></app-dropdown>
    <div class="container text-center mt-2">
      <div class="row border">
        <div class="col col-8">
          <h5 class="mt-2">Valor da Simulação</h5>
        </div>
        <div class="col border-start p-0">
          <input
            currencyMask
            [currencyMask]="{
              prefix: 'R$ ',
              thousands: '.',
              decimal: ',',
              allowNegative: false,
              precision: 2
            }"
            [(ngModel)]="baseValue"
            (ngModelChange)="onInputChange($event)"
            class="m-0 w-100 h-100 p-2"
            style="width: 8rem"
          />
        </div>
      </div>
      <app-table [interestValue]="interestValue"></app-table>
    </div>
  </div>
</div>
