<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">
      {{ feesToCostumer ? "PASSANDO PARA O CLIENTE" : "ASSUMINDO AS TAXAS" }}
    </h3>
    <app-dropdown
      [selectedPlan]="selectedPlan"
      [planOptions]="planOptions"
      (planChanged)="planChanged($event)"
    ></app-dropdown>
    <div class="text-center mt-2 w-100">
      <div class="row">
        <div class="col col-7">
          <h5 class="mt-2">Valor da Simulação</h5>
        </div>
        <div class="col p-0">
          <input
            inputmode="numeric"
            pattern="[0-9]*"
            currencyMask
            [currencyMask]="{
              prefix: 'R$ ',
              thousands: '.',
              decimal: ',',
              allowNegative: false,
              precision: 2,
              max: 99999.99
            }"
            [(ngModel)]="interestValue.baseValue"
            (ngModelChange)="onInputChange($event)"
            (click)="selectAll($event)"
            class="m-0 h-100 p-2"
            style="width: 8rem"
          />
        </div>
      </div>
      <app-table
        [interestValue]="interestValue"
        [feesToCostumer]="feesToCostumer"
      ></app-table>
    </div>
  </div>
</div>
